.footer {
    position: fixed;
    /* Coloca footer na parte de baixo*/
    bottom: 0;
    display: flex;
    /* Coloca footer na parte esquerda*/
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}
